/* asterisco afeta todos os elementos do html */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y:content;
}

p, label, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

#anchor {
    margin-top: -100px;
    padding-top: -100px;
}


/* Root 1920px */

/* Topbar */

    .ib-topbar {
        overflow: hidden;
        width: 100vw;
        height: 70px;
        background-color: #1d1d1d;
        display: block;
        position: fixed;
        top: 0;
        z-index: 1100;
    }

    .ib-logo{
        width: 182px;
        height: 35px;
        float: left;
        display: table;
        margin-left: 128px;
        margin-top: 18px;
    }

    .ib-navbar {
        float: right;
        display: table;
        width: 642px;
        margin-right: 128px; 
    }

    .ib-navbar a {
        font-family: 'Open Sans';
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        display: inline-block;
        margin: 15px 15px 0 15px;
        font-weight: 400;
        position: relative;
    }

    .ib-navbar-cta {
        width: 285px;
        height: 40px;
        background-color: #2570FF;
        border-radius: 8px;
        border: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        cursor: pointer;
    }

    .ib-btn-menu-mob ion-icon {
        display: none;
    }

    .ib-menu-mob {
        display: none;
    }

    .ib-menu-is-open {
        display: none;
    }

    .ib-menu-is-closed {
        display: none;
    }

    .ib-menu-mob a {
        display: none;
    }

/* Home */

    #ib-home-presentation {
        width: 100vw;
        height: 100vh;
        background-image: url(../images/bg-ideabox.png);
        background-repeat: no-repeat;
        background-position: center;
        display: table;
        margin-top: -20px;
    }

    .ib-home-overlay {
        width: 100%;
        height: 100vh;
        position:absolute;
        left:0;
        background: rgba(0,0,0,.45);
    }

    .ib-home-presentation h1 {
        width: 820px;
        font-size: 72px;
        font-weight: 700;
        margin-top: 256px;
        margin-left: 128px;
        margin-right: 500px; 
        text-align: left;
        color: #fff
    }

    .ib-home-presentation p {
        font-size: 24px;
        font-weight: 500;
        text-align: left;
        margin-left: 128px;
        margin-top: 30px; 
        color: #fff;
    }

    .ib-home-cta {
        display: none;
    }

    .ib-home-powered {
        float: right;
        margin-top: 200px;
        margin-right: 132px;
    }

    .ib-home-powered p {
        font-size: 10px;
        margin-left: 32px;
    }

/* Quem Somos */

    #ib-quem-somos {
        width: 100vw;
        height: 75vh;
        background-color: #EEE;
    }

    .ib-quem-somos-texto {
        width: 620px;
        float: left;
        margin-left: 256px;
        padding-top: 224px;
    }

    .ib-logo-tagline {
        width: 300px;
        display: table;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 24px;
    }

    .ib-quem-somos-texto p {
        width: 620px;
        font-size: 18px;
        line-height: 24px;
        text-align: left;
        padding-top: 24px;
    }

    .ib-img-quem-somos {
        width: 800px;
        float: right;
        display: table;
        margin-top: 276px;
        margin-right: 128px;
    }

/* Soluções */

    #ib-section-solucoes {
        width: 100vw;
        height: 100vh;
        background-color: #EEE;
    }

    .ib-section-solucoes h2 {
        font-family: 'Open sans', sans-serif;
        font-size: 36px;
        text-align: center;
        padding-top: 64px;
    }


/* Soluções - Carrossel */

    .ib-solucoes-thumb img {
        width: 1024px;
        height: 600px;
        padding-top: 32px;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    .ib-solucoes-thumb h3 {
        font-family: 'Open sans', sans-serif;
        font-size: 28px;
        text-align: left;
        padding-top: 32px;
        margin-left: 400px;
    }

    .ib-solucoes-thumb p {
        width: 1024px;
        font-size: 18px;
        line-height: 24px;;
        text-align: left;
        padding-top: 15px;
        margin-left: 404px;
        margin-right: 248px;
    }

/* Sispro */

    .ib-section-sispro {
        width: 100vw;
        height: 100vh;
        background-color: #fff;
    }

    .ib-sispro-paragraph {
        width: 720px;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        float: left;
        text-align: left;
        margin-top: 224px;
        margin-left: 256px;
    }

    .ib-sispro-paragraph p {
        width: 690px;
        line-height: 24px;
        margin-top: 45px;
    }

    .ib-sispro-cta {
        width: 200px;
        height: 40px;
        background-color: #2570FF;
        border-radius: 8px;
        border: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        cursor: pointer;
    }


    .ib-sispro-paragraph-mob {
        display: none;
    }

    .ib-sispro-cta-mob {
        display: none;
    }

    .ib-section-sispro img {
        width: 500px;
        float: right;
        display: table;
        margin-top: 350px;
        margin-right: 256px;
    }

/* Números */

    .ib-section-numeros {
        width: 100vw;
        height: 100vh;
        background-color: #2570FF;
    }

    .ib-section-numeros h2 {
        width: 357px;
        font-family: 'Open sans', sans-serif;
        font-weight: 500;
        font-size: 64px;
        text-align: left;
        color: #fff;
        display: table;
        float: left;
        margin-left: 256px;
        padding-top: 224px;
    }

    .ib-numeros-group-thumb1 {
        width: 300px;
        float: right;
        display: table;
        margin-right: 256px;
        margin-top: 176px;
        margin-left: 64px;
    }

    .ib-numeros-group-thumb2 {
        width: 300px;
        display: table;
        float: right;
        margin-top: 176px;
    }

    .ib-numeros-thumb {
        width: 300px;
        height: 250px;
        border-radius: 8px;
        border: none;
        background-color: #3B7EFE;
        margin-top: 32px;
    }

    .ib-numeros-thumb img {
        width: 120px;
        height: 120px;
        color: #fff;
        display: table;
        margin-top: 34px;
        margin-left: 32px;
        margin-right: 0;
        padding-top: 32px
    }

    .ib-numeros-thumb h1 {
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        text-align: left;
        margin-top: 15px;
        margin-left: 30px;
    }

    .ib-numeros-thumb p {
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        text-align: left;
        margin-left: 30px;
        margin-top: 0px;
    }

/* Review */

    .ib-section-review {
        width: 100vw;
        height: 100vh;
        background-color: #EEE;
    }

    .ib-section-review h2 {
        font-size: 28px;
        text-align: center;
        padding-top: 64px;
    }
        
    .ib-review-thumb {
        width: 320px;
        height: 510px;
        margin-top: 128px;
        margin-left: 48px;
        background-color: #fff;
        border-radius: 8px;
        border: none;
        display: inline-block;
        align-items: center;
    }

    #ib-review-estrelas {
        margin-top: 30px;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    .ib-review-thumb p {
        height: 224px;
        font-size: 16px;
        text-align: center;
        display: table;
        margin-top: 80px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .ib-review-reviewer {
        display: table;
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
    }

    #ib-review-foto {
        display: fixed;
        float: left;
        padding-left: 15px;
        padding-bottom: 15px;
    }

    .ib-review-thumb h1 {
        font-size: 16px;
        font-weight: 700;
        text-align: left;
        margin-left: 70px;
    }

    .ib-review-thumb h3 {
        font-size: 12px;
        font-weight: 500;
        text-align: left;
        padding-top: 0;
        margin-left: 70px;
    }

/* Cases */

    .ib-section-cases {
        width: 100vw;
        height: 33vh;
        background-color: #FFF;
    }

    .ib-section-cases h3 {
        font-size: 28px;
        text-align: center;
        padding-top: 64px;
    }

    .ib-cases-images {
        display: table;
        margin: 0 auto;
        padding-left: 160px;
    }

    .ib-cases-images img {
        padding-top: 45px;
        padding-right: 90px;
        display: inline-table;
        margin-left: auto;
        margin-right: auto;
    }

/* Contato */

    .ib-section-contato {
        width: 100vw;
        height: 100vh;
        background-color: #2570FF;
    }

    .ib-img-contato {
        width: 800px;
        float: left;
        display: table;
        margin-top: 0;
        margin-left: 128px
        
    }

    .ib-section-contato h3 {
        font-size: 32px;
        font-weight: 700;
        color: #fff;
        text-align: right;
        padding-top: 196px;
        margin-right: 556px;
    }

    .ib-form {
        width: 444px;
        float: right;
        margin-top: 32px;
        margin-right: 384px;
    }

    .ib-section-contato label {
        display: block;
        margin-top: 18px;
        font-family: 'Open sans', sans-serif;
        color: #fff;
        font-weight: 500;
    }

    .ib-section-contato input {
        width: 100%;
        height: 30px;
        margin-top: 7px;
        border-radius: 8px;
        border: none;
        background-color: #fff;
    }

    #ib-contato-cta {
        width: 222px;
        height: 54px;
        margin-top: 45px;
        border-radius: 100px;
        border: none;
        background-color: #fff;
        color: #1d1d1d;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    #ib-contato-cta:hover {
        background-color: #1d1d1d;
        color: #fff;
    }

/* Footer */

    .ib-section-footer {
        width: 100vw;
        height: 33vh;
        background-color: #1d1d1d;
    }

    .ib-footer-logo {
        display: table;
        margin-left: auto;
        margin-right: auto;
        padding-top: 32px;
    }

    .ib-footer-logo img {
        height: 26px;
        margin-left: 16px;
    }

    .ib-section-footer h2 {
        padding-top: 15px;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        color: #fff;
    }

    .ib-footer-social-media {
        display: table;
        padding-top: 15px;
        margin: 0 auto 0 auto;
        
    }

    .ib-footer-logo-facebook {
        width: 36px;
        height: 36px;
        margin-right: 15px;
    }

    .ib-footer-logo-instagram {
        width: 36px;
        height: 36px;
        margin-left: 15px;
    }


/* CELULAR */
@media screen and (min-width: 320px) and (max-width: 374px) {

    * {
        overflow-x: hidden;
    }

    .ib-topbar {
        overflow: hidden;
        width: 100vw;
        height: 70px;
    }

    .ib-logo{
        width: 126px;
        height: 22px;
        float: left;
        display: table;
        margin-left: 16px;
        margin-top: 24px;
    }

    .ib-navbar {
        display: none; 
    }

    .ib-menu-overlay {
        width: 100%;
        height: 100vh;
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
    }

    .ib-btn-menu-mob {
        width: 42px;
        height: 42px;
        display: block;
        border-radius: 50%;
        border: none;
        background-color: #1d1d1d;
        color: #fff;
        position: fixed;
        right: 32px;
        top: 16px;
        z-index: 12500;
        cursor: pointer;
    }

    .ib-btn-menu-mob ion-icon {
        vertical-align: middle;
        display: initial;
        color: #fff;
    }

    .ib-menu-mob {
        width: 240px;
        height: 100vh;
        display: block;
        background-color: #000;
        position: fixed;
        top: 0;
        padding: 100px 30px 30px;
        z-index: 1200;
        transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }

    .ib-menu-is-open {
        right: 0;
    }

    .ib-menu-is-closed {
        right: -240px;
    }

    .ib-menu-mob a {
        width: 100%;
        height: 60px;
        display: block;
        line-height: 60px;
        color: #fff;
        font-family: 'Open sans', sans-serif;
        text-decoration: none;
    }

/* Home */

    #ib-home-presentation {
        width: 100vw;
        height: 100vh;
    }

    .ib-home-overlay {
        width: 100vw;
        height: 100vh;
    }

    .ib-home-presentation h1 {
        width: 300px;
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        margin-top: 128px;
        display: center;
        margin-left: auto;
        margin-right: auto; 
    }

    .ib-home-presentation p {
        width: 300px;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        display: center;
        margin-left: auto;
        margin-right: auto;  
    }

    .ib-home-presentation a {
        text-decoration: none;
    }

    .ib-home-cta {
        width: 222px;
        height: 54px;
        margin-top: 32px;
        border-radius: 100px;
        border: none;
        background-color: #2570FF;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        text-decoration: none;
        display: table;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
    }

    .ib-home-powered {
        float: none;
        display: table;
        margin-top: 4px;
        margin-right: auto;
        margin-left: auto;
    }

    .ib-home-powered p {
        font-size: 10px;
    }

    .ib-home-powered img {
        padding-top: 8px;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

/* Quem Somos */

    #ib-quem-somos {
        height: 162vh;
    }

    .ib-quem-somos-texto {
        width: 320px;
        float: none;
        display: table;
        margin-right: auto;
        margin-left: auto;
        padding-top: 64px;
    }

    .ib-logo-tagline {
        width: 300px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0;
    }

    .ib-quem-somos-texto p {
        width: 320px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        padding-top: 32px;
    }

    .ib-img-quem-somos {
        width: 300px;
        float: none;
        display: table;
        margin-top: 32px;
        margin-right: auto;
        margin-left: auto;
    }

/* Soluções */

    #ib-section-solucoes {
        height: 100vh;
    }

    .ib-section-solucoes h2 {
        font-family: 'Open sans', sans-serif;
        font-size: 28px;
        padding-top: 32px;
    }

/* Soluções - Carrossel */

    .ib-solucoes-thumb {
        width: 300px;
        height: 500px;
    }

    .ib-solucoes-thumb img {
        width: 260px;
        height: 160px;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    .ib-solucoes-thumb h3 {
        font-family: 'Open sans', sans-serif;
        font-size: 24px;
        text-align: center;
        padding-top: 32px;
        margin-left: 0;
    }

    .ib-solucoes-thumb p {
        width: 240px;
        font-size: 16px;
        line-height: 24px;;
        text-align: center;
        padding-top: 16px;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

/* Sispro */

    .ib-section-sispro {
        height: 100vh;
    }
  
    .ib-sispro-paragraph {
        display: none;
    }

    .ib-sispro-paragraph-mob {
        width: 300px;
        font-size: 16px;
        text-align: center;
        margin-top: 64px;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    .ib-section-sispro img {
        width: 288px;
        float: none;
        display: table;
        margin-top: 96px;
        margin-right: auto;
        margin-left: auto;
    }

    .ib-sispro-cta-mob {
        width: 200px;
        height: 40px;
        display: table;
        margin-top: 24px;
        margin-left: auto;
        margin-right: auto;
        background-color: #2570FF;
        border-radius: 8px;
        border: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        cursor: pointer;
        text-decoration: none;
    }

/* Números */

    .ib-section-numeros {
        height: 125vh;
    }
    
    .ib-section-numeros h2 {
        width: 300px;
        font-size: 28px;
        text-align: center;
        float: none;
        padding-top: 64px;
        margin: 0 auto;
    }

    .ib-numeros-group-thumb1 {
        width: 288px;
        height: 225px;
        margin-top: 16px;
        padding-right: 0;
        display: table;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        float: none;
    }

    .ib-numeros-group-thumb2 {
        width: 288px;
        height: 225px;
        display: table;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0;
        text-align: center;
        float: none;
    }

    .ib-numeros-thumb {
        width: 288px;
        height: 96px;
        margin-top: 16px;
        padding-right: 0;
        display: table;
        margin-left: 8px;
        margin-right: 0;
    }

    .ib-numeros-thumb img {
        width: 43px;
        height: 23px;
        padding-top: 0;
        display: table;
        margin-top: 16px;
        margin-left: auto;
        margin-right: auto;
    }

    .ib-numeros-thumb h1 {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
        margin-left: 0;
    }

    .ib-numeros-thumb p {
        font-size: 14px;
        text-align: center;
        margin-left: 0;
    }

/* Review */

    .ib-section-review {
        height: 385vh;
    }

    .ib-section-review h2 {
        width: 315px;
        font-size: 28px;
        padding-top: 64px;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    .ib-review-thumb {
        width: 300px;
        height: 416px;
        margin-top: 32px;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    .ib-review-thumb p {
        display: table;
        margin-top: 32px;
        margin-bottom: 32px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .ib-review-reviewer {
        margin-top: 32px;
    }

/* Cases */

    .ib-section-cases {
        height: 85vh;
    }

    .ib-cases-images {
        width: 300px;
        display: table;
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .ib-cases-images img {
        padding-top: 48px;
        padding-right: 0;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

/* Contato */

    .ib-section-contato {
        height: 100vh;
    }

    .ib-img-contato {
        display: none;
    }

    .ib-section-contato h3 {
        font-size: 28px;
        text-align: center;
        padding-top: 36px;
        margin-right: 0;
    }

    .ib-form {
        width: 300px;
        float: none;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

/* Footer */

    .ib-section-footer {
        height: 46vh;
    }

    .ib-footer-logo {
        width: 300px;
        display: table;
        text-align: center;
        padding-top: 32px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 375px) and (max-width: 1365px) {

    * {
        overflow-x: hidden;
    }

    .ib-topbar {
        overflow: hidden;
        width: 100vw;
        height: 70px;
    }

    .ib-logo{
        width: 126px;
        height: 22px;
        float: left;
        display: table;
        margin-left: 16px;
        margin-top: 24px;
    }

    .ib-navbar {
        display: none; 
    }

    .ib-menu-overlay {
        width: 100%;
        height: 100vh;
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
    }

    .ib-btn-menu-mob {
        width: 42px;
        height: 42px;
        display: block;
        border-radius: 50%;
        border: none;
        background-color: #1d1d1d;
        color: #fff;
        position: fixed;
        right: 32px;
        top: 16px;
        z-index: 12500;
        cursor: pointer;
    }

    .ib-btn-menu-mob ion-icon {
        vertical-align: middle;
        display: initial;
        color: #fff;
    }

    .ib-menu-mob {
        width: 240px;
        height: 100vh;
        display: block;
        background-color: #000;
        position: fixed;
        top: 0;
        padding: 100px 30px 30px;
        z-index: 1200;
        transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }

    .ib-menu-is-open {
        right: 0;
    }

    .ib-menu-is-closed {
        right: -240px;
    }

    .ib-menu-mob a {
        width: 100%;
        height: 60px;
        display: block;
        line-height: 60px;
        color: #fff;
        font-family: 'Open sans', sans-serif;
        text-decoration: none;
    }

/* Home */

    .ib-home-presentation h1 {
        width: 320px;
        font-size: 42px;
        text-align: center;
        display: center;
        margin-top: 128px;
        margin-left: auto;
        margin-right: auto; 
    }

    .ib-home-presentation p {
        font-size: 16px;
        text-align: center;
        display: table;
        margin-top: 32px;
        margin-left: auto;
        margin-right: auto; 
    }

    .ib-home-cta {
        margin-top: 128px;
        font-size: 16px;
    }

    .ib-home-powered {
        display: table;
        margin-top: 96px;
    }

/* Quem Somos */

    #ib-quem-somos {
        height: 120vh;
    }

    .ib-quem-somos-texto {
        width: 320px;
        float: none;
        display: table;
        margin-right: auto;
        margin-left: auto;
        padding-top: 64px;
    }

    .ib-logo-tagline {
        width: 300px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0;
    }

    .ib-quem-somos-texto p {
        width: 320px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        padding-top: 32px;
    }

    .ib-img-quem-somos {
        width: 300px;
        float: none;
        display: table;
        margin-top: 32px;
        margin-right: auto;
        margin-left: auto;
    }

/* Soluções */

    #ib-section-solucoes {
        height: 100vh;
    }

    .ib-section-solucoes h2 {
        font-family: 'Open sans', sans-serif;
        font-size: 28px;
        padding-top: 64px;
    }

/* Soluções - Carrossel */

    .ib-solucoes-carrousel {
        overflow-y: hidden;
    }

    .ib-solucoes-thumb {
        display: fixed;
        height: 544px;
    }

    .ib-solucoes-thumb img {
        width: 300px;
        height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .ib-solucoes-thumb h3 {
        font-family: 'Open sans', sans-serif;
        font-size: 28px;
        text-align: center;
        padding-top: 32px;
        margin-left: 0;
    }

    .ib-solucoes-thumb p {
        width: 300px;
        font-size: 16px;
        text-align: center;
        display: table;
        margin-right: auto;
        margin-left: auto;
    }

/* Sispro */

    .ib-sispro-paragraph {
        display: none;
    }

    .ib-sispro-paragraph-mob {
        width: 320px;
        font-size: 16px;
        text-align: center;
        margin-top: 80px;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    .ib-section-sispro img {
        width: 320px;
        float: none;
        display: table;
        margin-top: 128px;
        margin-right: auto;
        margin-left: auto;
    }

    .ib-sispro-cta-mob {
        width: 200px;
        height: 40px;
        display: table;
        margin-top: 32px;
        margin-left: auto;
        margin-right: auto;
        background-color: #2570FF;
        border-radius: 8px;
        border: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }

/* Números */

    .ib-section-numeros {
        height: 100vh;
    }

    .ib-section-numeros h2 {
        width: 300px;
        font-size: 28px;
        text-align: center;
        float: none;
        padding-top: 64px;
        margin: 0 auto;
    }

    .ib-numeros-group-thumb1 {
        width: 288px;
        height: 225px;
        margin-top: 16px;
        padding-right: 0;
        display: table;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        float: none;
    }

    .ib-numeros-group-thumb2 {
        width: 288px;
        height: 225px;
        display: table;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0;
        text-align: center;
        float: none;
    }

    .ib-numeros-thumb {
        width: 288px;
        height: 104px;
        margin-top: 32px;
        padding-right: 0;
        display: table;
        margin-left: 8px;
        margin-right: 0;
    }

    .ib-numeros-thumb img {
        width: 43px;
        height: 23px;
        padding-top: 0;
        display: table;
        margin-top: 16px;
        margin-left: auto;
        margin-right: auto;
    }

    .ib-numeros-thumb h1 {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
        margin-left: 0;
    }

    .ib-numeros-thumb p {
        font-size: 14px;
        text-align: center;
        margin-left: 0;
    }

/* Review */

    .ib-section-review {
        height: 300vh;
    }

    .ib-section-review h2 {
        width: 315px;
        font-size: 28px;
        padding-top: 64px;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    .ib-review-thumb {
        width: 300px;
        height: 416px;
        margin-top: 24px;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    .ib-review-thumb p {
        display: table;
        margin-top: 32px;
        margin-bottom: 32px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .ib-review-reviewer {
        margin-top: 32px;
    }

/* Cases */

    .ib-section-cases {
        height: 100vh;
    }

    .ib-section-cases h3 {
        font-size: 36px;
        text-align: center;
        padding-top: 64px;
    }

    .ib-cases-images {
        width: 300px;
        display: table;
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .ib-cases-images img {
        padding-top: 80px;
        padding-right: 0;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

/* Contato */

    .ib-section-contato {
        height: 100vh;
    }

    .ib-img-contato {
        display: none;
    }

    .ib-section-contato h3 {
        font-size: 36px;
        text-align: center;
        padding-top: 128px;
        margin-right: 0;
    }

    .ib-form {
        width: 300px;
        float: none;
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    /* Footer */

    .ib-section-footer {
        height: 36vh;
    }

    .ib-footer-logo {
        width: 300px;
        display: table;
        text-align: center;
        padding-top: 32px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1365px) and (max-width: 1919px) {

/* Home */

    .ib-logo {
        margin-left: 64px;
    }

    .ib-navbar {
        width: 750px;
        margin-right: -32px;
    }

    .ib-home-presentation h1 {
        margin-top: 160px;
        margin-left: 64px;
    }

    .ib-home-presentation p {
        margin-left: 64px;
        margin-top: 32px; 
    }

    .ib-home-powered {
        margin-top: 32px;
        margin-right: 64px;
    }

    .ib-home-powered img {
        float: right;
        margin-top: 4px;
    }

    .ib-home-powered p {
        margin-top: 32px;
    }

    #ib-quem-somos-link {
        bottom: 0;
    }

/* Quem Somos */

    #ib-quem-somos {
        width: 100vw;
        height: 75vh;
        background-color: #EEE;
    }
    
    .ib-quem-somos-texto {
        width: 520px;
        float: left;
        margin-left: 32px;
        padding-top: 64px;
    }

    .ib-logo-tagline {
        width: 272px;
    }

    .ib-quem-somos-texto p {
        width: 520px;
        padding-top: 16px;
        margin-top: 0;
        margin-left: 32px;
    }

    .ib-img-quem-somos {
        width: 624px;
        margin-top: 160px;
        margin-right: 64px;
    }

/* Soluções */

    #ib-section-solucoes {
        height: 100vh;
        padding-top: 70px; 
    }

    .ib-section-solucoes h2 {
        font-size: 28px;
        padding-top: 16px;
    }

/* Soluções - Carrossel */

    .ib-solucoes-thumb {
        height: 544px;
    }

    .ib-solucoes-thumb img {
        width: 602px;
        height: 320px;
        padding-top: 16px;
    }

    .ib-solucoes-thumb h3 {
        padding-top: 32px;
        margin-left: 304px;
        font-size: 16px;
    }

    .ib-solucoes-thumb p {
        width: 682px;
        padding-top: 16px;
        margin-left: 304px;
        font-size: 16px;
    }

/* Sispro */

    .ib-sispro-paragraph {
        width: 540px;
        margin-top: 64px;
        margin-left: 128px;
    }

    .ib-sispro-paragraph p {
        width: 540px;
        margin-top: 0;
    }

    .ib-sispro-paragraph a {
        display: table;
        padding-top: 24px;
        padding-left: 164px;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 700;
        color: #2570FF;
        cursor: pointer;
    }

    .ib-section-sispro img {
        width: 460px;
        margin-top: 240px;
        margin-right: 128px;
    }

/* Números */

    .ib-section-numeros {
        height: 100vh;
    }

    .ib-section-numeros h2 {
        font-size: 56px;
        margin-left: 128px;
        padding-top: 128px;
    }

    .ib-numeros-group-thumb1 {
        float: none;
        display: inline-table;
        padding-top: 0;
        padding-left: 128px;
        margin-top: 80px;
        margin-right: 0;
        margin-left: 0;
    }

    .ib-numeros-group-thumb2 {
        float: right;
        margin-top: 80px;
        margin-right: 138px;;
    }

    .ib-numeros-thumb {
        width: 300px;
        height: 200px;
        border-radius: 8px;
        border: none;
        background-color: #3B7EFE;
        margin-top: 0;
    }

    .ib-numeros-thumb img {
        width: 96px;
        height: 96px;
        color: #fff;
        display: table;
        margin-top: 34px;
        margin-left: 16px;
        margin-right: 0;
        padding-top: 32px
    }

/* Review */

    .ib-section-review {
        height: 155vh;
    }

    .ib-section-review h2 {
        padding-top: 32px;
    }

    .ib-review-group1 {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    .ib-review-group2 {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    .ib-review-thumb {
        display: inline-table;
        width: 320px;
        height: 400px;
        margin-top: 32px;
        margin-left: 32px;
    }

    .ib-review-thumb p {
        height: 288px;
        font-size: 18px;
        text-align: center;
        display: table;
        margin-top: 16px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .ib-review-reviewer {
        margin-top: 0;
    }

    #ib-review-foto {
        display: fixed;
        float: left;
        padding-left: 15px;
        padding-bottom: 15px;
    }

    .ib-review-thumb h1 {
        font-size: 16px;
        font-weight: 700;
        text-align: left;
        margin-left: 70px;
    }

    .ib-review-thumb h3 {
        font-size: 12px;
        font-weight: 500;
        text-align: left;
        padding-top: 0;
        margin-left: 70px;
    }

/* Cases */

    .ib-section-cases {
        height: 66vh;
        padding-top: 70px; 
    }

    .ib-section-cases h3 {
        padding-top: 48px;
    }

/* Contato */

    #ib-section-contato {
        padding-top: 70px; 
    }

    .ib-img-contato {
        width: 560px;
        margin-top: 0;
        margin-left: 128px;
    }

    .ib-section-contato h3 {
        padding-top: 48px;
        margin-right: 288px;
    }

    .ib-form {
        width: 444px;
        float: right;
        margin-top: 32px;
        margin-right: 128px;
    }

/* Footer */

    .ib-section-footer {
        height: 45vh;
    }
}